<form class="{{cssClass}} flexcol flex--unset" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DND5E.Name' }}"/>
        </h1>

        <ul class="attributes flexrow">

            <li class="attribute hit-dice">
                <h4 class="attribute-name">{{ localize "DND5E.HitDice" }}</h4>
                <div class="attribute-value multiple">
                    <label class="hit-dice">{{data.attributes.hd}} <span class="sep"> / </span> {{data.details.level}}</label>
                </div>
                <div class="attribute-value">
                    <a class="rest short-rest">{{ localize "DND5E.RestS" }}</a>
                    <a class="rest long-rest">{{ localize "DND5E.RestL" }}</a>
                </div>
            </li>

            <li class="attribute initiative">
                <h4 class="attribute-name">{{ localize "DND5E.Initiative" }}</h4>
                <div class="attribute-value">
                    <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
                </div>
                <footer class="attribute-footer">
                    <span>{{ localize "DND5E.Modifier" }}</span>
                    <input name="data.attributes.init.value" type="number" placeholder="0"
                           value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"/>
                </footer>
            </li>
        </ul>

    </header>

    <section class="sheet-body">
        <div class="tab attributes flexcol" data-group="primary" data-tab="attributes">
            <section class="flexrow">
                <section class="header-details">

                    <section class="character-class">
                        <h2 class="flexrow">
                            <input type="text" name="data.details.species" value="{{data.details.species}}" placeholder="{{ localize 'DND5E.Species' }}"/> 
                            <input type="text" name="data.details.background" value="{{data.details.background}}" placeholder="{{ localize 'DND5E.Background' }}"/>
                        </h2>
                    </section>
                    <section class="stats">

                        <section class="header-exp flexcol">
                            <div class="charlevel flexrow flexrow--space-between">
                                <label>{{ localize "DND5E.Level" }}</label>
                                <span>{{data.details.level}}</span>
                                <!-- <span class="levels">{{classLabels}}</span> -->
                            </div>

                            {{#unless disableExperience}}
                            <div class="experience flexrow flexrow--space-between">
                                <label>{{ localize "DND5E.XP" }}</label>
                                <div class="flexrow flex--unset flexrow--no-wrap">
                                    <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" placeholder="0" data-dtype="Number"/>
                                    <span class="sep">/</span>
                                    <input class="max" disabled value="{{data.details.xp.max}}" data-dtype="Number"/>
                                </div>
                            </div>
                            <div class="xpbar">
                                <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
                            </div>
                            {{/unless}}
                        </section>

                        <section class="header-health flexcol">
                            <div class="flexrow flexrow--space-between">
                                <h4 class="">{{ localize "DND5E.HP" }}</h4>
                                <div class="flexrow">
                                    <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" placeholder="10" data-dtype="Number"/>
                                    <span class="sep"> / </span>
                                    <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}" placeholder="10" data-dtype="Number"/>
                                </div>
                            </div>
                            <footer class="flexrow">
                                <input class="full-input" name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+{{ localize 'DND5E.Temp' }}"
                                        value="{{data.attributes.hp.temp}}" data-dtype="Number"/>
                                <input class="full-input" name="data.attributes.hp.tempmax" type="text" class="temphp" placeholder="+{{ localize 'DND5E.Max' }}"
                                        value="{{data.attributes.hp.tempmax}}" data-dtype="Number"/>
                            </footer>
                        </section>


                        <section class="character-stats">

                            {{!-- Ability Scores --}}
                            <ul class="ability-scores flexcol">
                            {{#each data.abilities as |ability id|}}
                                <li class="ability flexrow flexrow--space-between flex--unset {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
                                    <div class="flexrow flexrow--no-wrap">
                                        <div class="stat-modifiers flexrow">
                                            <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number"/>
                                            <a class="proficiency-toggle ability-proficiency" title="{{ localize 'DND5E.Proficiency' }}">{{{ability.icon}}}</a>
                                        </div>
                                    </div>
                                    <h4 class="stat-name ability-name rollable">
                                        {{ability.label}} <span class="small">
                                            (<span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>/<span class="ability-save" title="Saving Throw">{{numberFormat ability.save decimals=0 sign=true}}</span>)
                                        </span>
                                    </h4>
                                    <input class="stat-score" name="data.abilities.{{id}}.value" type="number" value="{{ability.value}}" placeholder="10"/>
                                </li>
                            {{/each}}
                            </ul>
                        </section>

                        <section class="other-stats flexcol">
                            <ul class="flexcol">
                                <li class="flexrow flexrow--space-between">
                                    <h4 class="stat-name">{{ localize "DND5E.ArmorClass" }}</h4>
                                    <div class="stat-score">
                                        <input name="data.attributes.ac.value" type="number" value="{{data.attributes.ac.value}}" placeholder="10"/>
                                    </div>
                                </li>

                                <li class="flexrow flexrow--space-between">
                                    <h4 class="stat-name">{{ localize "DND5E.Proficiency" }}</h4>
                                    <div class="stat-score">
                                        <input disabled class="proficiency" type="text" value="{{numberFormat data.attributes.prof decimals=0 sign=true}}"/>
                                    </div>
                                </li>

                                <li class="flexcol flex--unset">
                                    <div class="flexrow flexrow--space-between">
                                        <h4 class="stat-name">{{ localize "DND5E.Speed" }}</h4>
                                        <div class="stat-score">
                                            <input class="speed" name="data.attributes.speed.value" type="text"
                                                value="{{data.attributes.speed.value}}" placeholder="0"/>
                                        </div>
                                    </div>
                                    <footer class="stat-footer">
                                        <input type="text" class="full-input" name="data.attributes.speed.special"
                                            value="{{data.attributes.speed.special}}" placeholder="{{ localize 'DND5E.SpeedSpecial' }}"/>
                                    </footer>
                                </li>
                            </ul>
                        </section>

                    </section>
                </section>

                <section class="character-image flexcol">

                    <aside class="alignment flexrow" id="sheet-alignment">
                        <input type="text" class="visually-hidden" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{ localize 'DND5E.Alignment' }}"/>
                        <div class="flexcol">
                            <label for="orientation" class="visually-hidden">
                                Alignment orientation
                            </label>
                            <input type="radio" name="orientation" value="chaotic" title="Chaotic" {{checked sheetAlignment.orientation.chaotic}} />
                            <input type="radio" name="orientation" value="neutral" title="Neutral" {{checked sheetAlignment.orientation.neutral}} />
                            <input type="radio" name="orientation" value="lawful" title="Lawful" {{checked sheetAlignment.orientation.lawful}} />
                        </div>
                        <div class="flexcol">
                            <label for="morals" class="visually-hidden">
                                Alignment morals
                            </label>
                            <input type="radio" name="morals" value="good" title="Good" {{checked sheetAlignment.morals.good}} />
                            <input type="radio" name="morals" value="neutral" title="Neutral" {{checked sheetAlignment.morals.neutral}} />
                            <input type="radio" name="morals" value="evil" title="Evil" {{checked sheetAlignment.morals.evil}} />
                        </div>
                    </aside>

                    <aside class="inspiration">
                        <h4 class="visually-hidden">{{ localize "DND5E.Inspiration" }}</h4>
                        <input type="checkbox" name="data.attributes.inspiration" title="{{#unless data.attributes.inspiration}}No{{/unless}} Inspiration" data-dtype="Boolean"
                            {{checked data.attributes.inspiration}}/>
                    </aside>

                    <div class="img-wrapper">
                        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
                    </div>

                </section>
            </section>

            <section class="skills-section flexrow">
                {{!-- Skills --}}
                <ul class="skills-list">
                {{#each data.skills as |skill s|}}
                    <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
                        <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
                        <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
                        <h4 class="skill-name rollable">{{skill.label}}</h4>
                        <span class="skill-ability">{{skill.ability}}</span>
                        <span class="skill-mod">{{numberFormat skill.total decimals=0 sign=true}}</span>
                        <span class="skill-passive">({{skill.passive}})</span>
                    </li>
                {{/each}}
                </ul>
            </section>
        </div>

        {{!-- Traits Tab --}}
        <div class="tab traits flexcol" data-group="primary" data-tab="traits">
            {{> "systems/sw5e/templates/actors/parts/actor-traits-new.html"}}
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/sw5e/templates/actors/parts/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/sw5e/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Force Powers Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="forcepowers">
            {{> "systems/sw5e/templates/actors/parts/actor-forcepowers.html" powers=forcePowerBook}}
        </div>

        {{!-- Tech Powers Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="techpowers">
            {{> "systems/sw5e/templates/actors/parts/actor-techpowers.html" powers=techPowerBook}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/sw5e/templates/actors/parts/actor-effects.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab flexrow" data-group="primary" data-tab="biography">
            <div class="characteristics flexcol">
                <label>{{ localize "DND5E.Appearance" }}</label>
                <textarea name="data.details.appearance">{{data.details.appearance}}</textarea>
                <label>{{ localize "DND5E.PersonalityTraits" }}</label>
                <textarea name="data.details.trait">{{data.details.trait}}</textarea>
                <label>{{ localize "DND5E.Ideals" }}</label>
                <textarea name="data.details.ideal">{{data.details.ideal}}</textarea>
                <label>{{ localize "DND5E.Bonds" }}</label>
                <textarea name="data.details.bond">{{data.details.bond}}</textarea>
                <label>{{ localize "DND5E.Flaws" }}</label>
                <textarea name="data.details.flaw">{{data.details.flaw}}</textarea>
            </div>
            <div class="biography">
                {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>

    <footer class="sheet-footer">
        {{!-- NPC Sheet Navigation --}}
        <nav class="sheet-navigation flexrow flex--unset tabs" data-group="primary">
            <a class="item active" data-tab="attributes">{{ localize "DND5E.Attributes" }}</a>
            <a class="item" data-tab="traits">{{ localize "DND5E.Traits" }}</a>
            <a class="item" data-tab="inventory">{{ localize "DND5E.Inventory" }}</a>
            <a class="item" data-tab="features">{{ localize "DND5E.Features" }}</a>
            <a class="item" data-tab="forcepowers">{{ localize "DND5E.ForcePowers" }}</a>
            <a class="item" data-tab="techpowers">{{ localize "DND5E.TechPowers" }}</a>
            <a class="item" data-tab="effects">{{ localize "DND5E.Effects" }}</a>
            <a class="item" data-tab="biography">{{ localize "DND5E.Biography" }}</a>
        </nav>
    </footer>
</form>
