<ul class="power-attributes attributes flexrow">
    <li class="attribute health">
        <h4 class="attribute-name box-title">{{ localize "DND5E.PowerForcePoints" }}</h4>
        <div class="attribute-value multiple">
            <input name="data.forcecasting.points.value" type="text" value="{{data.forcecasting.points.value}}" placeholder="0" data-dtype="Number"/>
            <span class="sep"> / </span>
            <input name="data.forcecasting.points.max" type="text" value="{{data.forcecasting.points.max}}" placeholder="0" data-dtype="Number"/>
        </div>
    </li>

    <li class="attribute">
        <h4 class="attribute-name box-title">{{ localize "DND5E.PowerForceLevel" }}</h4>
        <div class="attribute-value">
            <input name="data.forcecasting.level" type="number"
                   value="{{data.forcecasting.level}}" placeholder="0"/>
        </div>
    </li>

    <li class="attribute">
        <h4 class="attribute-name box-title">{{ localize "DND5E.PowerForceDC" }}</h4>
        <div class="attribute-value">
            <input name="data.forcecasting.dc" disabled type="text"
                   value="{{data.forcecasting.dc}}" placeholder="0"/>
        </div>
    </li>

    <li class="attribute">
        <h4 class="attribute-name box-title">{{ localize "DND5E.PowerForceBonus" }}</h4>
        <div class="attribute-value">
            <input name="data.forcecasting.bonus" disabled type="text"
                   value="{{data.forcecasting.bonus}}" placeholder="0"/>
        </div>
    </li>
</ul>

<div class="inventory-filters spellbook-filters flexrow">
    <div class="form-group spellcasting-ability">
        <label>{{localize "DND5E.PowerAbility"}}</label>
        <select name="data.attributes.forcecasting" data-type="String">
            {{#select data.attributes.forcecasting}}
            <option value="">{{localize "DND5E.None"}}</option>
            {{#each data.abilities as |abl a|}}
            <option value="{{a}}">{{abl.label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <ul class="filter-list flexrow" data-filter="forcepowers">
        <li class="filter-item" data-filter="action">{{localize "DND5E.Action"}}</li>
        <li class="filter-item" data-filter="bonus">{{localize "DND5E.BonusAction"}}</li>
        <li class="filter-item" data-filter="reaction">{{localize "DND5E.Reaction"}}</li>
    </ul>
</div>

<ol class="inventory-list">
{{#each powers as |section|}}
    <li class="item flexrow inventory-header spellbook-header">
        <div class="item-name flexrow">
            <h3>{{section.label}}</h3>
        </div>

        <div class="spell-school">{{localize "DND5E.PowerAlignment"}}</div>
        <div class="spell-action">{{localize "DND5E.PowerUsage"}}</div>
        <div class="spell-target">{{localize "DND5E.PowerTarget"}}</div>

        <div class="item-controls">
            {{#if section.canCreate}}
            <a class="item-control item-create" title="{{localize 'DND5E.PowerCreate'}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                <i class="fas fa-plus"></i> {{localize "DND5E.Add"}}
            </a>
            {{/if}}
        </div>
    </li>

    <ol class="item-list">
    {{#each section.powers as |item i|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow flex--unset rollable">
                <div class="item-image item-roll-js" style="background-image: url('{{item.img}}')"></div>
                <h4 class="item-roll-js">{{item.name}}</h4>
                {{#if item.data.uses.per }}
                <div class="item-detail spell-uses">Uses {{item.data.uses.value}} / {{item.data.uses.max}}</div>
                {{/if}}
            </div>

            <div class="spell-comps">
                {{#each labels.components}}
                <span class="spell-component {{this}}">{{this}}</span>
                {{/each}}
            </div>
            <div class="spell-school">{{labels.school}}</div>
            <div class="spell-action">{{labels.activation}}</div>
            <div class="spell-target" title="{{localize 'DND5E.Range'}}: {{labels.range}}">
                {{#if labels.target}}
                {{labels.target}}
                {{else}}None
                {{/if}}
            </div>


            {{#if ../../owner}}
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
    {{/each}}
    </ol>
{{else}}
    {{#if owner}}
    {{#if filters.forcepowers.size}}
    <li class="item flexrow"><p class="notes">{{localize "DND5E.FilterNoPowers"}}</p></li>
    {{else}}
    <li class="item flexrow inventory-header spellbook-header spellbook-empty">
        <div class="item-controls">
            <a class="item-control item-create" title="{{localize 'DND5E.PowerCreate'}}" data-type="forcepower"
               data-level="{{lvl}}"><i class="fas fa-plus"></i> {{localize "DND5E.PowerAdd"}}</a>
        </div>
    </li>
    <li class="item flexrow"><p class="notes">{{localize "DND5E.NoPowerLevels"}}</p></li>
    {{/if}}
    {{/if}}
{{/each}}
</ol>
